$yelow01: #F2D728;
$font01: 'Josefin Slab', 'Courier New', Courier, monospace;
$color01: #333333;

// COMPONENTS
#all {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    #menuMobile {
       display: none;
    }

    nav {
        width: 80%;
        height: 8vh;
        min-height: 50px;
        display: flex;

        justify-content: center;

        background: $yelow01;

        ul {
            width: 50%;
            min-width: 600px;
            height: 100%;
            display: flex;

            li {
                width: 25%;

                transition: background ease-in-out .3s;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    
                    justify-content: center;
                    align-items: center;

                    text-decoration: none;
                    font-family: $font01;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $color01;
                    font-size: 1.2rem;
                }
            } li:hover {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
    @media screen and (max-width: 1024px) {
        nav { width: 100%; }
    }
    @media screen and (max-width: 600px) {
        #menuMobile {
            position: fixed;

            left: 5px;
            top: 5px;
            
            width: 40px;
            height: 40px;
            display: flex;

            align-items: center;
            justify-content: center;

            border-radius: 15px ;
            border: none;
        }
        
        nav {
            position: absolute;

            height: calc(4*2rem);
            transform: translateY(-100%);

            transition: all ease-in-out .5s;

            ul {
                width: 100%;
                min-width: 100%;
                flex-direction: column;

                li {
                    width: 100%;
                    height: 25%;
                }
            }
        }
    }
}

#all {
    // HOME
        // header
    #home {
        width: 80%;
        header {
            width: 100%;
            display: flex;
            flex-direction: column;

            align-items: center;

            background: #333;

            font-family: $font01;

            .logo {
                width: 100px;
                height: 100px;

                background: $yelow01;

                border-radius: 50%;

                margin: 75px;
            }
            @media screen and (max-width: 600px) {
                .logo {
                    margin: 50px;
                }
            }
            
            .subtitle {
                color: #fff;
                font-size: 2rem;

                margin-bottom: 50px;
            }
            @media screen and (max-width: 600px) {
                .subtitle {
                    font-size: 1.2rem;

                    margin-bottom: 20px;
                }
            }

            .title {
                color: $yelow01;
                font-size: 3.2rem;
                font-weight: 600;
                text-transform: uppercase;

                margin-bottom: 50px;
            }
            @media screen and (max-width: 600px) {
                .title {
                    font-size: 2rem;

                    margin-bottom: 50px;
                }
            }

            ul {
                display: flex;

                li {
                    margin: 40px;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.2rem;
                        font-weight: 700;
                        
                        transition: color ease-in-out .3s;
                    } a:hover {
                        color: #ccc
                    }
                }
            }
            @media screen and (max-width: 600px) {
                ul {
                    flex-direction: column;

                    margin-bottom: 50px;
                    
                    li {
                        text-align: center;
                        margin: 10px;

                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .arrow {
                width: 50px;
                height: 50px;

                background: $yelow01;

                margin-bottom: 50px;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        #home {
            width: 100%;
        }
    }
}